doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/loginStyle.css")
        title Login
    body 
    div.page 
        form(action="/home" method="POST") 
            div 
             label(for="email") Email: 
             input(type="email" required id="email" name="email")
            div 
             label(for="password" ) Mot de passe: 
             input(type="password" id="password" name="password") 
            input(type="submit" value="Login" class="loginButton")  
            a(href="/register" class="reg") Register? 